In [2]:
import psycopg2

In [22]:
conn = psycopg2.connect("dbname='DataLab' user='postgres' host='localhost' password='3015'")
cur = conn.cursor()

In [11]:
# cur.close()
# conn.close()

In [26]:
query = """SELECT * FROM emp"""
cur.execute(query)
for row in cur.fetchall():
    print(row)

(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1982, 12, 9), 3000, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.date(1983, 1, 12), 1100, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10)

In [30]:
query = """
SELECT (CASE WHEN rnk = {} THEN deptno END) AS deptno, ename
FROM (SELECT deptno, ename,
             row_number() OVER (PARTITION BY deptno ORDER BY ename) AS rnk
      FROM emp) t
""".format(1)
cur.execute(query)
cur.fetchall()

[(10, 'CLARK'),
 (None, 'KING'),
 (None, 'MILLER'),
 (20, 'ADAMS'),
 (None, 'FORD'),
 (None, 'JONES'),
 (None, 'SCOTT'),
 (None, 'SMITH'),
 (30, 'ALLEN'),
 (None, 'BLAKE'),
 (None, 'JAMES'),
 (None, 'MARTIN'),
 (None, 'TURNER'),
 (None, 'WARD')]